<section class="grid w-full grid-cols-2 pt-10 text-white">

  <div>
    <img src="/assets/destination/image-moon.webp" alt="moon" class="mx-auto">
  </div>

  <article class="w-8/12 mx-auto ">
    <div>
      <h1 class="mb-8 font-serif text-7xl">MOON</h1>
      <p class="mb-10">See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain
        perspective and come back
        refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.</p>
      <hr>
      <section class="flex gap-10 mt-5">
        <div>
          <h5 class="text-xs text-gray-400">AVG. DISTANCE</h5>
          <p class="text-2xl">384,400 KM</p>
        </div>
        <div>
          <h5 class="text-xs text-gray-400">EST. TRAVEL TIME</h5>
          <p class="text-2xl">3 DAYS</p>
        </div>
      </section>
    </div>
  </article>

</section>