<main class="flex items-center w-full h-full">
  <div class="w-9/12 mx-auto bg-red-800">
    <!-- max-w-6xl -->
    <p class="text-2xl text-white"><span class="text-gray-600">01</span> PICK YOUR DESTINATION</p>
    <section>
      <nav class="float-right">
        <ul class="flex gap-6 text-white">
          <li *ngFor="let link of links">
            <a [routerLink]="link.goTo">
              {{link.name}}
            </a>
          </li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </section>
  </div>
</main>