<section class="grid w-full grid-cols-2 pt-10 text-white">

  <div>
    <img src="/assets/destination/image-europa.webp" alt="europa" class="mx-auto">
  </div>

  <article class="w-8/12 mx-auto ">
    <div>
      <h1 class="mb-8 font-serif text-7xl">EUROPA</h1>
      <p class="mb-10">The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With
        an icy surface, it’s
        perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery cabin.</p>
      <hr>
      <section class="flex gap-10 mt-5">
        <div>
          <h5 class="text-xs text-gray-400">AVG. DISTANCE</h5>
          <p class="text-2xl">628 MIL. KM</p>
        </div>
        <div>
          <h5 class="text-xs text-gray-400">EST. TRAVEL TIME</h5>
          <p class="text-2xl">3 YEARS</p>
        </div>
      </section>
    </div>
  </article>

</section>