<section class="grid w-full grid-cols-2 pt-10 text-white">

  <div>
    <img src="/assets/destination/image-mars.webp" alt="mars" class="mx-auto">
  </div>

  <article class="w-8/12 mx-auto ">
    <div>
      <h1 class="mb-8 font-serif text-7xl">MARS</h1>
      <p class="mb-10">Don't forget to pack your hiking boots. You'll need them to tackle Olympus Mons, the tallest
        planetary mountain
        in our solar system. It's two and a half times the size of Everest!</p>
      <hr>
      <section class="flex gap-10 mt-5">
        <div>
          <h5 class="text-xs text-gray-400">AVG. DISTANCE</h5>
          <p class="text-2xl">225 MIL. KM</p>
        </div>
        <div>
          <h5 class="text-xs text-gray-400">EST. TRAVEL TIME</h5>
          <p class="text-2xl">9 MONTHS</p>
        </div>
      </section>
    </div>
  </article>

</section>